.person-data {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    padding: 5px;
    width: 30%;
    border: black solid 1px;
    & div {
        width: 50%;
        & div{
            width: 100%;
        }
    }
}

.person-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}